<style type="text/css" media="screen">
#acercas {
    height: 500px;
    width: 650px;
}
</style>

<div id="acercas">
<h2>La importancia del monitoreo</h2>

<p>El seguimiento, monitoreo y evaluación, es uno de los procesos esenciales en
el ciclo de vida de las políticas públicas que se realizan en diferentes ámbitos,
desde lo regional a lo local. Sin embargo, es tal vez la actividad que menos
se desarrolla, en parte por la escasez de recursos, la ausencia de sistemas de
información que permitan soportar dicha tarea y porqué no, la falta de una
cultura que conciba que los procesos no terminan con las obras y la ejecución.</p>

<p>El seguimiento permite conocer la pertinencia o no de las estrategias
implementadas, ejecutar acciones oportunas que permitan anticiparse a los
problemas, garantizar la sostenibilidad de los proyectos y retro alimentar los
procesos de toma de decisiones en el marco de la planeación a mediano y largo
plazo.</p>

<p>Conscientes de ello, las organizaciones de las plataformas de organizaciones en
Matagalpa, Chinandega y Somotillo, que trabajan por el desarrollo sostenible,
han iniciado un proceso de monitoreo para conocer los resultados de sus
intervenciones en territorio, mediante indicadores que permitan identificar
avances en cuanto a Familia, Organización, Acceso a tierra, Animales, Cultivos,
Opciones de manejo, Uso de Semilla, Ingresos, Bienes, Crédito, Seguridad
Alimentaria y Riesgos.</p>

<h3>¿De dónde provienen los datos que alimenta el sistema de monitoreo?</h3>

<p>Toda la información generada por el sistema de monitoreo se obtiene a través de
la aplicación de una encuesta a familias beneficiarias, levantándose una vez al
año y permite medir avances con respecto años anteriores.</p>

<h3>¿Qué obtendremos del sistema de monitoreo?</h3>

<p>Se obtendrá datos de la situación que viven las familias. El sistema de monitoreo
permite al usuario filtrar resultados por departamento, municipio, comunidad,
encuestado y sexo, generando datos que se muestran en cuadros y gráficos
dinámicos. Los resultados de los datos pueden copiarse fácilmente para ser
utilizadas en el proceso de elaboración de informes que pueden ser compartidos
con beneficiarios, donantes y sociedad en general.</p>

</div>

