{% extends "base.html" %}
{%load unslugify %}
{% block titulo %}Subindicador Agua{%endblock%}
{% block contenido %}

<div id="contenedor_igual">
                            <a href="/educacion" class="educacion">Educación</a>
                            <img src="/archivos/imagen/separadorsi.png" alt="description" title="description" width="1px" height="20px" />
                            <a href="/salud" class="educacion">Salud</a>
                             <img src="/archivos/imagen/separadorsi.png" alt="description" title="description" width="1px" height="20px" />
                            <a href="/luz"class="agua">Energia</a>
                             <img src="/archivos/imagen/separadorsi.png" alt="description" title="description" width="1px" height="20px" />
                            <a href="/agua"class="luz">Agua de consumo</a>
                             <img src="/archivos/imagen/separadorsi.png" alt="description" title="description" width="1px" height="20px" />
                        </div>
                        <div class="separador"></div>
                        <br></br>


<div class="contenido">
     <table>
        <thead>
            <tr>
                <th>Fuente</th>
                <th>Frecuencia</th>
                <th>%</th>
            </tr>
        </thead>
        {% for fila in tabla%}
        <tr>
            {%for celda in fila%}
            <td>{{celda}}</td>
            {%endfor%}
        </tr>
        {%endfor%}
    </table>
</div>
<div class="separador"></div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#grafico1").click(function(){
            $("#grafico1").addClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
            $("#grafico6").removeClass('enlace_seleccionado');
            $("#grafico7").removeClass('enlace_seleccionado');
            $("#grafico8").removeClass('enlace_seleccionado');
            $("#grafico9").removeClass('enlace_seleccionado');
            $("#grafico10").removeClass('enlace_seleccionado');
            $("#grafico11").removeClass('enlace_seleccionado');
            $("#grafico12").removeClass('enlace_seleccionado');
        });
    
        $("#grafico2").click(function(){
            $("#grafico2").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
            $("#grafico6").removeClass('enlace_seleccionado');
            $("#grafico7").removeClass('enlace_seleccionado');
            $("#grafico8").removeClass('enlace_seleccionado');
            $("#grafico9").removeClass('enlace_seleccionado');
            $("#grafico10").removeClass('enlace_seleccionado');
            $("#grafico11").removeClass('enlace_seleccionado');
            $("#grafico12").removeClass('enlace_seleccionado');
        });

        $("#grafico3").click(function(){
            $("#grafico3").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
            $("#grafico6").removeClass('enlace_seleccionado');
            $("#grafico7").removeClass('enlace_seleccionado');
            $("#grafico8").removeClass('enlace_seleccionado');
            $("#grafico9").removeClass('enlace_seleccionado');
            $("#grafico10").removeClass('enlace_seleccionado');
            $("#grafico11").removeClass('enlace_seleccionado');
            $("#grafico12").removeClass('enlace_seleccionado');
        });
        $("#grafico4").click(function(){
            $("#grafico4").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
            $("#grafico6").removeClass('enlace_seleccionado');
            $("#grafico7").removeClass('enlace_seleccionado');
            $("#grafico8").removeClass('enlace_seleccionado');
            $("#grafico9").removeClass('enlace_seleccionado');
            $("#grafico10").removeClass('enlace_seleccionado');
            $("#grafico11").removeClass('enlace_seleccionado');
            $("#grafico12").removeClass('enlace_seleccionado');
        });

        $("#grafico5").click(function(){
            $("#grafico5").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico6").removeClass('enlace_seleccionado');
            $("#grafico7").removeClass('enlace_seleccionado');
            $("#grafico8").removeClass('enlace_seleccionado');
            $("#grafico9").removeClass('enlace_seleccionado');
            $("#grafico10").removeClass('enlace_seleccionado');
            $("#grafico11").removeClass('enlace_seleccionado');
            $("#grafico12").removeClass('enlace_seleccionado');
        });

        $("#grafico6").click(function(){
            $("#grafico6").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
            $("#grafico7").removeClass('enlace_seleccionado');
            $("#grafico8").removeClass('enlace_seleccionado');
            $("#grafico9").removeClass('enlace_seleccionado');
            $("#grafico10").removeClass('enlace_seleccionado');
            $("#grafico11").removeClass('enlace_seleccionado');
            $("#grafico12").removeClass('enlace_seleccionado');
        });


        $("#grafico7").click(function(){
            $("#grafico7").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
            $("#grafico6").removeClass('enlace_seleccionado');
            $("#grafico8").removeClass('enlace_seleccionado');
            $("#grafico9").removeClass('enlace_seleccionado');
            $("#grafico10").removeClass('enlace_seleccionado');
            $("#grafico11").removeClass('enlace_seleccionado');
            $("#grafico12").removeClass('enlace_seleccionado');
        });


        $("#grafico8").click(function(){
            $("#grafico8").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
            $("#grafico7").removeClass('enlace_seleccionado');
            $("#grafico6").removeClass('enlace_seleccionado');
            $("#grafico9").removeClass('enlace_seleccionado');
            $("#grafico10").removeClass('enlace_seleccionado');
            $("#grafico11").removeClass('enlace_seleccionado');
            $("#grafico12").removeClass('enlace_seleccionado');
        });


        $("#grafico9").click(function(){
            $("#grafico9").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
            $("#grafico7").removeClass('enlace_seleccionado');
            $("#grafico8").removeClass('enlace_seleccionado');
            $("#grafico6").removeClass('enlace_seleccionado');
            $("#grafico10").removeClass('enlace_seleccionado');
            $("#grafico11").removeClass('enlace_seleccionado');
            $("#grafico12").removeClass('enlace_seleccionado');
        });


        $("#grafico10").click(function(){
            $("#grafico10").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
            $("#grafico7").removeClass('enlace_seleccionado');
            $("#grafico8").removeClass('enlace_seleccionado');
            $("#grafico9").removeClass('enlace_seleccionado');
            $("#grafico6").removeClass('enlace_seleccionado');
            $("#grafico11").removeClass('enlace_seleccionado');
            $("#grafico12").removeClass('enlace_seleccionado');
        });


        $("#grafico11").click(function(){
            $("#grafico11").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
            $("#grafico7").removeClass('enlace_seleccionado');
            $("#grafico8").removeClass('enlace_seleccionado');
            $("#grafico9").removeClass('enlace_seleccionado');
            $("#grafico10").removeClass('enlace_seleccionado');
            $("#grafico6").removeClass('enlace_seleccionado');
            $("#grafico12").removeClass('enlace_seleccionado');
        });


        $("#grafico12").click(function(){
            $("#grafico12").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
            $("#grafico7").removeClass('enlace_seleccionado');
            $("#grafico8").removeClass('enlace_seleccionado');
            $("#grafico9").removeClass('enlace_seleccionado');
            $("#grafico10").removeClass('enlace_seleccionado');
            $("#grafico11").removeClass('enlace_seleccionado');
            $("#grafico6").removeClass('enlace_seleccionado');
        });

    });
</script>
{% endblock %}
