{% extends "base.html" %}
{%load unslugify %}
{% block titulo %}
Familia &raquo;  Subindicador Agua
<div class="cambiar_indicador"><a href="#" id="mas">Cambiar Indicador<span id="estado" class="estadouno"><img src="/archivos/imagen/menos.png"/></span></a></div>
{%endblock%}
{%block extra_header%}
<style type="text/css">
    .agua{background: url(/archivos/imagen/fondosubmenuhover.png) repeat-x;}
</style>
<script type="text/javascript">
    //si activo es 0 el html interno esta vacio
    //caso si activo es otro num sustituir grafico
    //si activo es el mismo id, esconder grafico
    var activo = 0; 
    function click_callback(url, id){
        $.getJSON(url + id, function(data) {
            if (activo!= url + id){
                $("#grafo").html('<img src="' + data.url + '" />');
                activo = url + id;
            }else{
                $("#grafo").html('');
                activo = 0;
            }
        });
    }
    function disp(id){
        click_callback('/grafo/agua-disponibilidad/', id);
    }
</script>
{%endblock%}
{% block contenido %}

{% include "nav_familia.html" %}
<div id="mostrar">
    {% include "simas/menu.html" %}
</div>

<div id="sidebar">
    <div class="graficos_widget">
        <h1>Gráficos de Disponibilidad </h1>
        <a id="grafico1" href="#" onCLick="disp(1)">Disponibilidad en Río</a>
        <a id="grafico2" href="#" onCLick="disp(2)">Disponibilidad en Ojo de Agua</a>
        <a id="grafico3" href="#" onCLick="disp(3)">Disponibilidad en Quebrada</a>
        <a id="grafico4" href="#" onCLick="disp(4)">Disponibilidad en Agua comunitaria</a>
        <a id="grafico5" href="#" onCLick="disp(5)">Disponibilidad en Pozo Propio</a>
        <a id="grafico6" href="#" onCLick="disp(6)">Disponibilidad en Agua en casa</a>
    </div>
    <div class="separador"></div>

</div>

<div id="grafo"></div>
<div class="subindicador"><a class="exportar guardarXLS" href="#" onclick="exportarXLS('modalidad'); return false;"></a>
    {% if request.user.is_authenticated %}
        <a class="exportar2" href="/exportar/5/"></a> 
    {% endif %}
</div>


<div class="contenido">
 <div id="modalidad">
    <table width=500>
        <caption>Fuentes de agua</caption>
        <thead>
            <tr>
                <th>Fuente</th>
                <th>Frecuencia</th>
                <th>%</th>
            </tr>
        </thead>
        {% for fila in tabla%}
        <tr>
            {%for celda in fila%}
            <td>{{celda}}</td>
            {%endfor%}
        </tr>
        {%endfor%}
    </table>
 </div>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<div class="separador"></div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#grafico1").click(function(){
            $("#grafico1").addClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
            $("#grafico6").removeClass('enlace_seleccionado');
            $("#grafico7").removeClass('enlace_seleccionado');
            $("#grafico8").removeClass('enlace_seleccionado');
            $("#grafico9").removeClass('enlace_seleccionado');
            $("#grafico10").removeClass('enlace_seleccionado');
            $("#grafico11").removeClass('enlace_seleccionado');
            $("#grafico12").removeClass('enlace_seleccionado');
        });
    
        $("#grafico2").click(function(){
            $("#grafico2").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
            $("#grafico6").removeClass('enlace_seleccionado');
            $("#grafico7").removeClass('enlace_seleccionado');
            $("#grafico8").removeClass('enlace_seleccionado');
            $("#grafico9").removeClass('enlace_seleccionado');
            $("#grafico10").removeClass('enlace_seleccionado');
            $("#grafico11").removeClass('enlace_seleccionado');
            $("#grafico12").removeClass('enlace_seleccionado');
        });

        $("#grafico3").click(function(){
            $("#grafico3").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
            $("#grafico6").removeClass('enlace_seleccionado');
            $("#grafico7").removeClass('enlace_seleccionado');
            $("#grafico8").removeClass('enlace_seleccionado');
            $("#grafico9").removeClass('enlace_seleccionado');
            $("#grafico10").removeClass('enlace_seleccionado');
            $("#grafico11").removeClass('enlace_seleccionado');
            $("#grafico12").removeClass('enlace_seleccionado');
        });
        $("#grafico4").click(function(){
            $("#grafico4").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
            $("#grafico6").removeClass('enlace_seleccionado');
            $("#grafico7").removeClass('enlace_seleccionado');
            $("#grafico8").removeClass('enlace_seleccionado');
            $("#grafico9").removeClass('enlace_seleccionado');
            $("#grafico10").removeClass('enlace_seleccionado');
            $("#grafico11").removeClass('enlace_seleccionado');
            $("#grafico12").removeClass('enlace_seleccionado');
        });

        $("#grafico5").click(function(){
            $("#grafico5").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico6").removeClass('enlace_seleccionado');
            $("#grafico7").removeClass('enlace_seleccionado');
            $("#grafico8").removeClass('enlace_seleccionado');
            $("#grafico9").removeClass('enlace_seleccionado');
            $("#grafico10").removeClass('enlace_seleccionado');
            $("#grafico11").removeClass('enlace_seleccionado');
            $("#grafico12").removeClass('enlace_seleccionado');
        });

        $("#grafico6").click(function(){
            $("#grafico6").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
            $("#grafico7").removeClass('enlace_seleccionado');
            $("#grafico8").removeClass('enlace_seleccionado');
            $("#grafico9").removeClass('enlace_seleccionado');
            $("#grafico10").removeClass('enlace_seleccionado');
            $("#grafico11").removeClass('enlace_seleccionado');
            $("#grafico12").removeClass('enlace_seleccionado');
        });


        $("#grafico7").click(function(){
            $("#grafico7").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
            $("#grafico6").removeClass('enlace_seleccionado');
            $("#grafico8").removeClass('enlace_seleccionado');
            $("#grafico9").removeClass('enlace_seleccionado');
            $("#grafico10").removeClass('enlace_seleccionado');
            $("#grafico11").removeClass('enlace_seleccionado');
            $("#grafico12").removeClass('enlace_seleccionado');
        });


        $("#grafico8").click(function(){
            $("#grafico8").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
            $("#grafico7").removeClass('enlace_seleccionado');
            $("#grafico6").removeClass('enlace_seleccionado');
            $("#grafico9").removeClass('enlace_seleccionado');
            $("#grafico10").removeClass('enlace_seleccionado');
            $("#grafico11").removeClass('enlace_seleccionado');
            $("#grafico12").removeClass('enlace_seleccionado');
        });


        $("#grafico9").click(function(){
            $("#grafico9").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
            $("#grafico7").removeClass('enlace_seleccionado');
            $("#grafico8").removeClass('enlace_seleccionado');
            $("#grafico6").removeClass('enlace_seleccionado');
            $("#grafico10").removeClass('enlace_seleccionado');
            $("#grafico11").removeClass('enlace_seleccionado');
            $("#grafico12").removeClass('enlace_seleccionado');
        });


        $("#grafico10").click(function(){
            $("#grafico10").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
            $("#grafico7").removeClass('enlace_seleccionado');
            $("#grafico8").removeClass('enlace_seleccionado');
            $("#grafico9").removeClass('enlace_seleccionado');
            $("#grafico6").removeClass('enlace_seleccionado');
            $("#grafico11").removeClass('enlace_seleccionado');
            $("#grafico12").removeClass('enlace_seleccionado');
        });


        $("#grafico11").click(function(){
            $("#grafico11").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
            $("#grafico7").removeClass('enlace_seleccionado');
            $("#grafico8").removeClass('enlace_seleccionado');
            $("#grafico9").removeClass('enlace_seleccionado');
            $("#grafico10").removeClass('enlace_seleccionado');
            $("#grafico6").removeClass('enlace_seleccionado');
            $("#grafico12").removeClass('enlace_seleccionado');
        });


        $("#grafico12").click(function(){
            $("#grafico12").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
            $("#grafico7").removeClass('enlace_seleccionado');
            $("#grafico8").removeClass('enlace_seleccionado');
            $("#grafico9").removeClass('enlace_seleccionado');
            $("#grafico10").removeClass('enlace_seleccionado');
            $("#grafico11").removeClass('enlace_seleccionado');
            $("#grafico6").removeClass('enlace_seleccionado');
        });

    });
</script>
{% endblock %}
