{% extends "base.html" %}
{%load unslugify %}
{%block titulo%}
Tierra &raquo; Existencia de árboles y Reforestación
<div class="cambiar_indicador"><a href="#" id="mas">Cambiar Indicador<span id="estado" class="estadouno"><img src="/archivos/imagen/menos.png"/></span></a> </div>
{%endblock%}
{% block extra_header %}
<style type="text/css">
    .arboles{background: url(/archivos/imagen/fondosubmenuhover.png) repeat-x;}
</style>
<script type="text/javascript">
    var activo = 0;
    function click_callback(id){
        $.getJSON('/grafo/arboles/' + id, function(data) {
            if (activo!= id){
                $("#grafo").html('<img src="' + data.url + '" />');
                activo = id;
            }else{
                $("#grafo").html('');
                activo = 0;
            }
        });
    }
    $(document).ready(function() {
        $("#grafico1").click(function(){
            $("#grafico1").addClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
        });
    
        $("#grafico2").click(function(){
            $("#grafico2").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
        });

        $("#grafico3").click(function(){
            $("#grafico3").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
        });
        $("#grafico4").click(function(){
            $("#grafico4").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
        });

        $("#grafico5").click(function(){
            $("#grafico5").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
        });
    });
</script>
{% endblock %}
{% block contenido %}
{% include "nav_tierra.html" %}
<div class="separador"></div>

<div id="mostrar">
    {% include "simas/menu.html" %}
</div>

<div id="sidebar">
    <div class="graficos_widget">
        <h1>Gráficos tipos de arboles</h1>
        <a id="grafico1" href="#" onCLick="click_callback('maderable')">Árbol Maderable</a>
        <a id="grafico2" href="#" onCLick="click_callback('forrajero')">Árbol Forrajero</a>
        <a id="grafico3" href="#" onCLick="click_callback('energetico')">Árbol Energetico</a>
        <a id="grafico4" href="#" onCLick="click_callback('frutal')">Árbol Frutal</a>
    </div>
    <div id="separador"></div>
</div>

<div id="grafo"></div>

<div class="subindicador"><a class="exportar guardarXLS" href="#" onclick="exportarXLS('modalidad'); return false;"></a> </div>

<div class="contenido">
<div id="modalidad">
    <table>
        <caption>Tabla Existencia de Arboles {% if request.user.is_authenticated %}<a class="exportar2" href="/exportar/9/"></a>{%endif%}</caption>
        <thead>
            <tr>
                <th>TIPO</th>
                <th>TOTAL</th>
                <th>PROMEDIO/FINCA</th>
                <th>FRECUENCIA FINCA TIENE ÁRBOLES</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Maderables</td>
                <td>{{maderable}}</td>
                <td>{{pro_maderable}}</td>
                <td>{{maderablect}}</td>
            </tr>
            <tr>
                <td>Forrajero</td>
                <td>{{forrajero}}</td>
                <td>{{pro_forrajero}}</td>
                <td>{{forrajeroct}}</td>
            </tr>
            <tr>
                <td>Energetico</td>
                <td>{{energetico}}</td>
                <td>{{pro_energetico}}</td>
                <td>{{energeticoct}}</td>
            </tr>
            <tr>
                <td>Frutales</td>
                <td>{{frutal}}</td>
                <td>{{pro_frutal}}</td>
                <td>{{frutalct}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <table>
        <caption>Reforestación en ultimo año {% if request.user.is_authenticated %}<a class="exportar2" href="/exportar/10/"></a>{%endif%}</caption>
        <thead>
            <tr>
                <th>Actividad</th>
                <th>Frecuencia</th>
                <th>% Frec.</th>
                <th>Cantidad de arboles sembrados</th>
                <th>% Cantidad de arboles</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.porcentaje_num|floatformat}}</td>
                <td>{{value.nativos|floatformat}}</td>
                <td>{{value.porcentaje_nativos|floatformat}}</td>
            </tr>
            {%endfor%}
        <tbody>
    </table>
</div>
</div>

{% endblock %}
