{% extends "base.html"%}
{%load unslugify %}
{% block titulo %}
Subindicador los Cultivos y la producción
<div class="cambiar_indicador"><a href="#" id="mas">Cambiar Indicador</a> <span id="estado" class="estadouno"><img src="/archivos/imagen/menos.png"/></span></div>
{% endblock %}
{
{%block contenido%}
<div id="mostrar">
     {% include "simas/menu.html" %}
</div>

<div class="contenido">
    <table>
        <caption>Los cultivos y la producción</caption>
        <thead>
            <tr>
                <th>CULTIVOS</th>
                <th>Unidad</th>
                <th>Total produccion por año</th>
                <th>Consumo por año</th>
                <th>Venta libre por año</th>
                <th>Vente organizada por año</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.totales|floatformat}}</td>
                <td>{{value.consumo|floatformat}}</td>
                <td>{{value.libre|floatformat}}</td>
                <td>{{value.organizada|floatformat}}</td>
            </tr>
            {%endfor%}
        <tbody>
    </table>
</div>
<script>
    // Hacemos que nos aplique cebra a las filas de la tabla y permita ordenarla
    // ademas que ordene por defecto las filas 0,0 y 2,1
    $(document).ready(function()
    {
        //$("#table_example").tablesorter();
        //$("#table_example").tablesorter({sortList:[[0,0],[2,1]], widgets: ['zebra']});
        $("#table_example").tablesorter({sortList:[[1,0],[1,1]], widgets: ['zebra']});
    }
); 
</script>
{%endblock%}
