{% extends "base.html" %}
{% load unslugify %}
{%block extra_header%}
<script type="text/javascript" src="{{MEDIA_URL}}js/highcharts.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/exporting.js"></script>
<script type="text/javascript">
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                defaultSeriesType: 'column'
            },
            title: {
                text: 'Viven fuera de Comunidad'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Porcentajes (que dijeron Si)'
                }
            },

            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'%';
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 55,
                    minPointLength : 1
                }
            },
            series: [{% for value in tabla_educacion %}
                {
                    name: '{{value.0}}',
                    data: [{{value.8}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '%';
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
                },
                {% endfor %}]
        });
    });

var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container1',
                defaultSeriesType: 'column'
            },
            title: {
                text: 'Miembros que Alcanzaron la Primaria (primaria completa + secundaria incompleta + bachiller + universitario)'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Porcentajes (%)'
                }
            },

            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'%';
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 55,
                    minPointLength : 1
                }
            },
            series: [{% for value in grafo %}
                {
                    name: '{{value.0}}',
                    data: [{{value.1}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '%';
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
                },
                {% endfor %}]
        });
    });
</script>
<style type="text/css">
    .educacion{background: url(/archivos/imagen/fondosubmenuhover.png) repeat-x;}
</style>
{%endblock%}

{%block titulo%}
Familia &raquo; Subindicador Educación
<div class="cambiar_indicador"><a href="#" id="mas">Cambiar Indicador <span id="estado" class="estadouno"><img src="/archivos/imagen/menos.png"/></span></a></div>
{%endblock%}

{% block contenido %}

{% include "nav_familia.html" %}

<div class="separador"></div>
<br>

<div id="mostrar">
    {% include "simas/menu.html" %}
</div>

<div class="subindicador"><a class="exportar guardarXLS" href="#" onclick="exportarXLS('modalidad'); return false;"></a>{% if request.user.is_authenticated %}<a class="exportar2" href="/exportar/1/"></a>{%endif%} </div>

<div class="contenido">
<div id="modalidad">
    <table>
        <caption>Educación</caption>
        <thead>
            <tr>
                <th></th>
                <th>Número total</th>
                <th>No sabe leer</th>
                <th>Primaria incompleta</th>
                <th>Primaria completa</th>
                <th>Secundaria incompleta</th>
                <th>Bachiller</th>
                <th>Universitario</th>
                <th>Vive fuera de la comunidad</th>
            </tr>
        </thead>
        <tbody>
            {%for fila in tabla_educacion%}
            <tr>
                {%for celda in fila %}
                <td>{{celda}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
</div>
<div class="contenedor">
        <div class="grafico-title"></div>
        <div id="container1"></div>
</div>

<div class="contenedor">
        <div class="grafico-title"></div>
        <div id="container"></div>
</div>

{% endblock %}

