{% extends "base.html" %}

{% block title %}Monitoreo - Familias{% endblock %}
{%block titulo%}Familias{%endblock%}
{% block contenido %}

                        <div id="contenedor_igual">
                            <a href="/educacion" class="educacion">Educación</a>
                            <a href="/salud" class="educacion">Salud</a>
                            <a href="/energia"class="agua">Energia</a>
                            <a href="/agua"class="luz">Agua de consumo</a>
                        </div>
                        <div class="separador"></div>
{% endblock %}
