{% extends "base.html"%}

{% block extra_header %}
<script type="text/javascript" src="{{MEDIA_URL}}js/highcharts.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/exporting.js"></script>
<script type="text/javascript">
var chart;
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'container',
         defaultSeriesType: 'pie',
         plotBackgroundColor: null,
         plotBorderWidth: null,
         plotShadow: false
      },
      title: {
         text: 'Hombres y Mujeres'
      },
      tooltip: {
         formatter: function() {
            return '<b>'+ this.point.name +'</b>: '+ this.y +'%';
         }
      },
      plotOptions: {
         pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
               enabled: true,
               //color: Highcharts.theme.textColor || '#000000',
               //connectorColor: Highcharts.theme.textColor || '#000000',
               formatter: function() {
                  return '<b>'+ this.point.name +'</b>: '+ this.y +'%';
               }
            },
            showInLegend: true
         }
      },
       series: [{
         data: [
            ['Hombres',  {{por_hombres}}],
            ['Mujeres',   {{por_mujeres}}],
            
         ]
      }]
   });
});

var chart;
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'container1',
         defaultSeriesType: 'pie',
         plotBackgroundColor: null,
         plotBorderWidth: null,
         plotShadow: false
      },
      title: {
         text: 'Números de personas entrevistadas'
      },
      tooltip: {
         formatter: function() {
            return '<b>'+ this.point.name +'</b>: '+ this.y +'%';
         }
      },
      plotOptions: {
         pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
               enabled: true,
               //color: Highcharts.theme.textColor || '#000000',
               //connectorColor: Highcharts.theme.textColor || '#000000',
               formatter: function() {
                  return '<b>'+ this.point.name +'</b>: '+ this.y +'%';
               }
            },
            showInLegend: true
         }
      },
       series: [{data: [{% for value in escolaridad %}
                    ['{{value.0}}',
                    {{value.2}}],
                {% endfor %}]
                
                }]
   });
});

var chart;
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'container2',
         defaultSeriesType: 'pie',
         plotBackgroundColor: null,
         plotBorderWidth: null,
         plotShadow: false
      },
      title: {
         text: 'Departamentos encuestado'
      },
      tooltip: {
         formatter: function() {
            return '<b>'+ this.point.name +'</b>: '+ this.y +'%';
         }
      },
      plotOptions: {
         pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
               enabled: true,
               //color: Highcharts.theme.textColor || '#000000',
               //connectorColor: Highcharts.theme.textColor || '#000000',
               formatter: function() {
                  return '<b>'+ this.point.name +'</b>: '+ this.y +'%';
               }
            },
            showInLegend: true
         }
      },
       series: [{data: [{% for value in depart %}
                    ['{{value.0}}',
                    {{value.2}}],
                {% endfor %}]
                
                }]
   });
});

var chart;
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'container3',
         defaultSeriesType: 'pie',
         plotBackgroundColor: null,
         plotBorderWidth: null,
         plotShadow: false
      },
      title: {
         text: 'Municipios encuestados'
      },
      tooltip: {
         formatter: function() {
            return '<b>'+ this.point.name +'</b>: '+ this.y +'%';
         }
      },
      plotOptions: {
         pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
               enabled: true,
               //color: Highcharts.theme.textColor || '#000000',
               //connectorColor: Highcharts.theme.textColor || '#000000',
               formatter: function() {
                  return '<b>'+ this.point.name +'</b>: '+ this.y +'%';
               }
            },
            showInLegend: true
         }
      },
       series: [{data: [{% for value in munis %}
                    ['{{value.0}}',
                    {{value.2}}],
                {% endfor %}]
                
                }]
   });
});

var chart;
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'container4',
         defaultSeriesType: 'pie',
         plotBackgroundColor: null,
         plotBorderWidth: null,
         plotShadow: false
      },
      title: {
         text: 'Grupos Etnicos'
      },
      tooltip: {
         formatter: function() {
            return '<b>'+ this.point.name +'</b>: '+ this.y +'%';
         }
      },
      plotOptions: {
         pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
               enabled: true,
               //color: Highcharts.theme.textColor || '#000000',
               //connectorColor: Highcharts.theme.textColor || '#000000',
               formatter: function() {
                  return '<b>'+ this.point.name +'</b>: '+ this.y +'%';
               }
            },
            showInLegend: true
         }
      },
       series: [{data: [{% for value in grupo %}
                    ['{{value.0}}',
                    {{value.2}}],
                {% endfor %}]
                
                }]
   });
});
</script>
{% endblock %}

{% block contenido %}
<div class="contenido">
<br>
<center><h1>Datos Generales de las {{total_encuesta}} Familias encuestadas</h1></center>
</br>
<div class="subindicador">Número de encuestas por años</div>
<table style="width:100%;">
        <thead>
            <tr>
                <th>Años</th>
                <th>Cantidad</th>
                <th>Porcentaje</th>
            </tr>
        </thead>
        <tbody>
            {%for fila in anio_lista%}
            <tr>
                {%for celda in fila %}
                <td>{{celda}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
<br></br>
<div class="subindicador">Hombre y mujeres</div>
<table style="width:100%;" >
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Frecuencia</th>
                <th>Porcentajes</th>
            </tr>
        </thead>
       <tr>
		    <td>Hombres</td>
            <td>{{hombres}}</td>
            <td>{{ por_hombres }}</td>
        </tr>   
        <tr>
		    <td>Mujeres</td>
            <td>{{mujeres}}</td>
            <td>{{ por_mujeres }}</td>
        </tr>   
    </table>
    <div class="clean"></div>
    <div id="container"></div>
<div class="subindicador">Distribución de edades en {{numero}} Familias entrevistadas</div>
<table style="width:100%;">
        <thead>
            <tr>
                <th>sexo</th>
                <th>numeros</th>
                <th>Porcentaje</th>
            </tr>
        </thead>
        <tbody>
            {%for fila in escolaridad%}
            <tr>
                {%for celda in fila %}
                <td>{{celda}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <div id="container1"></div>
<br></br>
<div class="subindicador">Departamentos entrevistados</div>
<table style="width:100%;">
        <thead>
            <tr>
                <th>Departamentos</th>
                <th>numeros</th>
                <th>Porcentaje</th>
            </tr>
        </thead>
        <tbody>
            {%for fila in depart%}
            <tr>
                {%for celda in fila %}
                <td>{{celda}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <div id="container2"></div>
 
<br></br>
<div class="subindicador">Municipio entrevistados</div>
<table style="width:100%;">
        <thead>
            <tr>
                <th>Municipios</th>
                <th>numeros</th>
                <th>Porcentaje</th>
            </tr>
        </thead>
        <tbody>
            {%for fila in munis%}
            <tr>
                {%for celda in fila %}
                <td>{{celda}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <div id="container3"></div>
<br></br>

{% if request.user.is_superuser %}
{% for k,v in lista_encuesta.items %}
<table style="width:100%;">
  <caption>{{k}}</caption>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Departamento/Municipio</th>
                <th>Comunidad</th>
            </tr>
        </thead>
        <tbody>
            {%for celda in v %}
            <tr>
                <td>{{celda.nombre}}</td>
                <td>{{celda.comunidad.municipio}}</td>
                <td>{{celda.comunidad}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
{%endfor%}
<br></br>
{% endif %}

<h1> Lista de recolectores con sus entrevistados</h1>

{% if request.user.is_superuser %}
{% for k,v in lista_recolectores.items %}
<table style="width:100%;">
  <caption>{{k}}</caption>
        <thead>
            <tr>
                <th>Nombre Entrevistados</th>
           </tr>
        </thead>
        <tbody>
            {%for celda in v %}
            <tr>
                <td>{{celda.nombre}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
{%endfor%}
<br></br>
{% endif %}

</div>
{% endblock %}
