{% extends "base.html"%}
{% load humanize %}
{% block titulo %}
Ingresos
<div class="cambiar_indicador"><a href="#" id="mas">Cambiar Indicador</a> <span id="estado" class="estadouno"><img src="/archivos/imagen/menos.png"/></span></div>
{% endblock %}
{%load unslugify %}
{% block extra_header %}
<script type="text/javascript" src="{{MEDIA_URL}}js/highcharts.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/exporting.js"></script>
<script src="{{MEDIA_URL}}js/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
    var activo = 0;
    function click_callback(id){
        $.getJSON('/grafo/ingreso/' + id, function(data) {
            if (activo!= id){
                $("#grafo").html('<img src="' + data.url + '" />');
                activo = id;
            }else{
                $("#grafo").html('');
                activo = 0;
            }
        });
    }
    $(document).ready(function() {
        $("#grafico1").click(function(){
            $("#grafico1").addClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
        });
    
        $("#grafico2").click(function(){
            $("#grafico2").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
        });

        $("#grafico3").click(function(){
            $("#grafico3").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
        });
    });
</script>
<script type="text/javascript">
function Grafo8(){
       var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'grafo',
                defaultSeriesType: 'column'
            },
            title: {
                text: 'Ingreso por sistema de produccion'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'   
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Cantidad'
                }
            },
            
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'';
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 33,
                    minPointLength : 1
                }
            },
            series: [{%for a in grafo%}
            {%for k,v in a.items%}
                {   
                    name: '{{k|unslugify}}',
                    data: [{{v}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '';
                                                  },
                        style: {
                            font: 'normal 10px Verdana, sans-serif'
                                }
                                }
                     
                },
           {%endfor%}
                {%endfor%}]
        });
    }
    

function Grafo9(){
     var  chart = new Highcharts.Chart({
            chart: {
                renderTo: 'grafo',
                defaultSeriesType: 'column'
            },
            title: {
                text: 'Número de rubros en cada sistema de produccion'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'   
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Cantidad'
                }
            },
            
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'';
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 33,
                    minPointLength : 1
                }
            },
            series: [{%for a in cuantos%}
            {%for k,v in a.items%}
                {   
                    name: '{{k|unslugify}}',
                    data: [{{v}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '';
                                                  },
                        style: {
                            font: 'normal 10px Verdana, sans-serif'
                                }
                                }
                     
                },
           {%endfor%}
                {%endfor%}]
        });
    }
    
function Grafo10(){
	var chart = new Highcharts.Chart({
	      chart: {
	         renderTo: 'grafo',
	         defaultSeriesType: 'pie',
	         height: 350,
             width: 520	         
	      },
	      title: {
	         text: 'Ingreso por clase'
	      },
	      tooltip: {
	         formatter: function() {
	            return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(1) +' %';
	         }
	      },
	      plotOptions: {
	          pie: {
	              allowPointSelect: true,
	              cursor: 'pointer',
	              dataLabels: {
	                 enabled: false
	              },
	              showInLegend: true
	           },
	           series: {
	              dataLabels: {
	                  enabled: true,
	                  align: "center",
	                  formatter: function() {
	                      return ''+ this.percentage.toFixed(1) + ' %';
	                  },
	                  color: '#000',
	                  style: {
	                      font: '12px Trebuchet MS, Verdana, sans-serif'
	                  }
	              }
	          }
	      },
	       series: [{         
	         name: 'Ingresos de clases',
	         data: [
	            ['Ingreso agropecuario - C${{respuesta.ingreso}}',   {{respuesta.ingreso}}],
	            ['Otros ingresos - C${{respuesta.ingreso_otro}}', {{respuesta.ingreso_otro}}]
	         ]
	      }]
	 });	
}
</script>
{% endblock %}
{%block contenido%}

<div id="mostrar">
     {% include "simas/menu.html" %}
</div>

<div class="contenido">
    <div id="sidebar">
        <div class="graficos_widget">
            <h1>Gráficos ingresos</h1>
            <a href="#" id="grafico1" onCLick="click_callback('vendio')">A quién venden?</a>
            <a href="#" id="grafico2" onCLick="click_callback('maneja')">Quién maneja el negocio?</a>
            <a href="#" id="grafico3" onCLick="click_callback('ingreso')">Quién tiene los ingresos?</a>
            <a href="#" id="grafico9" onclick="Grafo8();" class="grafo">Ingreso por sistema</a>
            <a href="#" id="grafico10" onCLick="Grafo9();" class="grafo">Número de rubro en cada sistema</a>
            <a href="#" id="grafico11" onCLick="Grafo10();" class="grafo">Ingreso por clase</a>
            <h1>Gráficos Otros ingresos</h1>
             <a href="#" id="grafico4" onCLick="click_callback('salario')">Tipos de Salarios</a>
            <a href="#" id="grafico5" onCLick="click_callback('negocio')">Tipos de Negocio</a>
            <a href="#" id="grafico6" onCLick="click_callback('remesa')">Tipos Remesas</a>
            <a href="#" id="grafico7" onCLick="click_callback('alquiler')">Tipo alquiler</a>
<!--            <a href="#" id="grafico8" onCLick="click_callback('aportar')">Persona aportar en la finca</a>-->
        </div>
    </div>
    <div id="grafo" style="width:670px;"></div>

<div class="subindicador"><a class="exportar guardarXLS" href="#" onclick="exportarXLS('modalidad'); return false;"></a>{% if request.user.is_authenticated %}<a class="exportar2" href="/exportar/17/"></a>{%endif%}</div>

<div id="modalidad">
     <table id="sortTableExample" class="tablesorter">
        <caption>Agroforestales</caption>
        <thead>
            <tr>
                <th style="font-size:9px;">RUBROS</th>
                <th style="font-size:9px;">Número de familias que venden</th>
                <th style="font-size:9px;">Unidad</th>
                <th style="font-size:9px;">Cantidad vendida por familia</th>
                <th style="font-size:9px;">Precio promedio</th>
                <th style="font-size:9px;">Ingreso por venta</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in agro.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.cantidad|floatformat}}</td>
                <td>{{value.precio|floatformat}}</td>
                <td>{{value.ingreso|floatformat}}</td>

                {%endfor%}
        </tbody>
        <tr>
            <th>TOTAL VENTA RUBROS</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total_agro|intcomma}}</th>
        </tr>

    </table>
    <br></br>
    <table id="sortTableExample2" class="tablesorter">
        <caption>Forestales</caption>
        <thead>
            <tr>
                <th style="font-size:9px;">RUBROS</th>
                <th style="font-size:9px;">Número de familias que venden</th>
                <th style="font-size:9px;">Unidad</th>
                <th style="font-size:9px;">Cantidad vendida por familia</th>
                <th style="font-size:9px;">Precio promedio</th>
                <th style="font-size:9px;">Ingreso por venta</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in forestal.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.cantidad|floatformat}}</td>
                <td>{{value.precio|floatformat}}</td>
                <td>{{value.ingreso|floatformat}}</td>

                {%endfor%}
        </tbody>
        <tr>
            <th>TOTAL VENTA RUBROS</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total_forestal|intcomma}}</th>
        </tr>

    </table>
    <br></br>
    <table id="sortTableExample" class="tablesorter">
        <caption>Granos básicos</caption>
        <thead>
            <tr>
                <th style="font-size:9px;">RUBROS</th>
                <th style="font-size:9px;">Número de familias que venden</th>
                <th style="font-size:9px;">Unidad</th>
                <th style="font-size:9px;">Cantidad vendida por familia</th>
                <th style="font-size:9px;">Precio promedio</th>
                <th style="font-size:9px;">Ingreso por venta</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in grano_basico.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.cantidad|floatformat}}</td>
                <td>{{value.precio|floatformat}}</td>
                <td>{{value.ingreso|floatformat}}</td>

                {%endfor%}
        </tbody>
        <tr>
            <th>TOTAL VENTA RUBROS</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total_basico|intcomma}}</th>
        </tr>

    </table>
    <br></br>
    <table id="sortTableExample" class="tablesorter">
        <caption>Ganado mayor</caption>
        <thead>
            <tr>
                <th style="font-size:9px;">RUBROS</th>
                <th style="font-size:9px;">Número de familias que venden</th>
                <th style="font-size:9px;">Unidad</th>
                <th style="font-size:9px;">Cantidad vendida por familia</th>
                <th style="font-size:9px;">Precio promedio</th>
                <th style="font-size:9px;">Ingreso por venta</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in ganado_mayor.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.cantidad|floatformat}}</td>
                <td>{{value.precio|floatformat}}</td>
                <td>{{value.ingreso|floatformat}}</td>

                {%endfor%}
        </tbody>
        <tr>
            <th>TOTAL VENTA RUBROS</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total_ganado|intcomma}}</th>
        </tr>

    </table>
    <br></br>
    <table id="sortTableExample" class="tablesorter">
        <caption>Animales de patio</caption>
        <thead>
            <tr>
                <th style="font-size:9px;">RUBROS</th>
                <th style="font-size:9px;">Número de familias que venden</th>
                <th style="font-size:9px;">Unidad</th>
                <th style="font-size:9px;">Cantidad vendida por familia</th>
                <th style="font-size:9px;">Precio promedio</th>
                <th style="font-size:9px;">Ingreso por venta</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in patio.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.cantidad|floatformat}}</td>
                <td>{{value.precio|floatformat}}</td>
                <td>{{value.ingreso|floatformat}}</td>

                {%endfor%}
        </tbody>
        <tr>
            <th>TOTAL VENTA RUBROS</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total_patio|intcomma}}</th>
        </tr>

    </table>
    <br></br>
    <table id="sortTableExample" class="tablesorter">
        <caption>Hortalizas y frutas</caption>
        <thead>
            <tr>
                <th style="font-size:9px;">RUBROS</th>
                <th style="font-size:9px;">Número de familias que venden</th>
                <th style="font-size:9px;">Unidad</th>
                <th style="font-size:9px;">Cantidad vendida por familia</th>
                <th style="font-size:9px;">Precio promedio</th>
                <th style="font-size:9px;">Ingreso por venta</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in frutas.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.cantidad|floatformat}}</td>
                <td>{{value.precio|floatformat}}</td>
                <td>{{value.ingreso|floatformat}}</td>

                {%endfor%}
        </tbody>
        <tr>
            <th>TOTAL VENTA RUBROS</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total_fruta|intcomma}}</th>
        </tr>

    </table>
    <br></br>
    <table id="sortTableExample" class="tablesorter">
        <caption>Musaceas</caption>
        <thead>
            <tr>
                <th style="font-size:9px;">RUBROS</th>
                <th style="font-size:9px;">Número de familias que venden</th>
                <th style="font-size:9px;">Unidad</th>
                <th style="font-size:9px;">Cantidad vendida por familia</th>
                <th style="font-size:9px;">Precio promedio</th>
                <th style="font-size:9px;">Ingreso por venta</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in musaceas.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.cantidad|floatformat}}</td>
                <td>{{value.precio|floatformat}}</td>
                <td>{{value.ingreso|floatformat}}</td>

                {%endfor%}
        </tbody>
        <tr>
            <th>TOTAL VENTA RUBROS</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total_musaceas|intcomma}}</th>
        </tr>

    </table>
    <br></br>
    <table id="sortTableExample" class="tablesorter">
        <caption>Raíces y tubérculos</caption>
        <thead>
            <tr>
                <th style="font-size:9px;">RUBROS</th>
                <th style="font-size:9px;">Número de familias que venden</th>
                <th style="font-size:9px;">Unidad</th>
                <th style="font-size:9px;">Cantidad vendida por familia</th>
                <th style="font-size:9px;">Precio promedio</th>
                <th style="font-size:9px;">Ingreso por venta</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in raices.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.cantidad|floatformat}}</td>
                <td>{{value.precio|floatformat}}</td>
                <td>{{value.ingreso|floatformat}}</td>

                {%endfor%}
        </tbody>
        <tr>
            <th>TOTAL VENTA RUBROS</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total_raices|intcomma}}</th>
        </tr>

    </table>
    <br></br>
    <table>
        <th>Ingreso agropecuario: {{respuesta.ingreso|intcomma}}</th>
    </table>

    <br><div class="subindicador">INGRESO  &raquo; Los Otros Ingresos familiares <a href="#" class="exportar"></a> <a class="exportar2" href="/exportar/18/"></a></div><br>
    <table id="sortTableExample" class="tablesorter">
        <caption></caption>
        <thead>
            <tr>
                <th>FUENTES</th>
                <th>NÚMERO DE FAMILIAS</th>
                <th>TOTAL MESES</th>
                <th>INGRESO MENSUAL PROMEDIO</th>
                <th>INGRESO TOTAL PROMEDIO</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in matriz.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.frecuencia|floatformat}}</td>
                <td>{{value.meses|floatformat}}</td>
                <td>{{value.ingreso|floatformat}}</td>
                <td>{{value.ingresototal|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
        <tr>
            <th>TOTAL OTROS INGRESO</th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{respuesta.ingreso_otro|intcomma}}</th>
        </tr>
    </table>
    <br>
<div class="subindicador">INGRESO  &raquo; Ingreso Bruto por familia</div>
    <table>
        <tr colspan="2">
            <th>INGRESO BRUTO</th>

            <th>{{respuesta.bruto|intcomma}}</th>
        </tr>
    </table>
    <div class="subindicador">INGRESO  &raquo; Ingreso Neto por familia</</a></div>
    <table>
        <tr colspan="2">
            <th>INGRESO NETO</th>

            <th>{{respuesta.total_neto|intcomma}}</th>
        </tr>
    </table><br><br>
</div>
    </div>
<script type="text/javascript">
  $(function() {
    $("table#sortTableExample").tablesorter( {sortList: [[0,0], [1,0]]} );
    $("table#sortTableExample2").tablesorter( {sortList: [[0,0], [1,0]]} );
  });
</script>
</div>
{%endblock%}
