{% extends "base.html" %}

{%block extra_header%}
<script>
    $(document).ready(function() {
        var departamento = document.getElementById("id_departamento");
        var municipio = document.getElementById("id_municipio");
        var comunidad= document.getElementById("id_comunidad");
       
        $("#id_departamento").change(function () {
            var index = departamento.options.selectedIndex;
            var id = departamento.options[index].value;
            $.getJSON("ajax/municipio/" + id +"/",
            function(data){
                municipio.options.length = 0;
                comunidad.options.length = 0;
                municipio.options[0] = new Option("--------");
                for(i=0; i< data.length; i++){
                    municipio.options[i+1] = new Option(data[i][1], data[i][0]);
                }
            });
        });
        $("#id_municipio").change(function () {
            var index = municipio.options.selectedIndex;
            var id = municipio.options[index].value;
            $.getJSON("ajax/comunidad/" + id +"/",
            function(data){
                comunidad.options.length = 0;
                comunidad.options[0] = new Option("---------");
                for(i=0; i< data.length; i++){
                    comunidad.options[i+1] = new Option(data[i][1], data[i][0]);
                }
            });
        });
        
    });
</script>
{% endblock %}
{% block menu %}  

{% endblock %}

{% block contenido %}
<div class="contenido">
    <form action"." method="POST">
          {% csrf_token %}

          <div id="formulario_tabla" >
            <div class="form_label"><b>{{form.fecha.label}}</b></div>
            <div class="form_widget">{{form.fecha}}</div>
            <div class="form_label"><b>{{form.departamento.label}}</b></div>
            <div class="form_widget">{{form.departamento}}</div>
            <div class="form_label"><b>{{form.municipio.label}}</b></div>
            <div class="form_widget">{{form.municipio}}</div>
            <div class="form_label"><b>{{form.comunidad.label}}</b></div>
            <div class="form_widget">{{form.comunidad}}</div>
            <div class="form_label"><b>{{form.cooperativa.label}}</b></div>
            <div class="form_widget"><b>{{form.cooperativa}}</b></div>
            <div class="form_label"><b>{{form.socio.label}}</b></div>
            <div class="form_widget">{{form.socio}}</div>
            <div class="form_label"><b>{{form.desde.label}}</b></div>
            <div class="form_widget">{{form.desde}}</div>
            <div class="form_label"><b>{{form.dueno.label}}</b></div>
            <div class="form_widget">{{form.dueno}}</div>
            <div class="form_label"><b>{{form.tecnologia.label}}</b></div>
            <div class="form_widget">{{form.tecnologia}}</div>
            <div class="form_label"><b>{{form.certificacion.label}}</b></div>
            <div class="form_widget">{{form.certificacion}}</div>
        </div>

        <input type="submit" value="Consultar" id="boton" class="filtro"/>
    </form>
    {%if centinela = 1 %}
    <div id="indicadores">
    <img src="/archivos/imagen/seleccionBarra.png" alt="adorno">
        <h2 class="titulo_indicadores">SELECCIONE EL INDICADOR</h2>
        <div id="contenedor_indicadores">
            <a href="/datos_generales" class="button">Familias</a>
            <a href="/organizaciones" class="button">Organización</a>
            <a href="/familias" class="button">Tenencia</a>
            <a href="/alimento" class="button">Tierra</a>
            <a href="/servicios"class="button">Ánimales</a>
            <a href="/servicios"class="button">Cultivos</a>
            <a href="/finca"class="button">Opciones de manejo</a>
            <a href="/ingresos"class="button">Uso de semilla</a>
            <a href="/equipos"class="button">Suelo</a>
            <a href="/ahorro_credito" class="button">Ingresos</a>
            <a href="/ahorro_credito" class="button">Bienes</a>
            <a href="/ahorro_credito" class="button">Ahorro y crédito</a>
            <a href="/ahorro_credito" class="button">Seguridad alimentaria</a>
            <a href="/ahorro_credito" class="button">Riesgos</a>
        </div>
    </div>
    {%endif%}
    <div class="separador"></div>
</div>
{% endblock %}
