{% extends "base.html" %}

{%block extra_header%}
<script type="text/javascript">
    $(document).ready(function() {
        var departamento = document.getElementById("id_departamento");
        var organizacion = document.getElementById("id_organizacion");
        var municipio = document.getElementById("id_municipio");
        var comunidad= document.getElementById("id_comunidad");
        
        //municipios
        $("#id_departamento").change(function () {
            var index = departamento.options.selectedIndex;
            var id = departamento.options[index].value;
            $.getJSON("ajax/municipio/" + id +"/",
            function(data){
                municipio.options.length = 0;
                comunidad.options.length = 0;
                municipio.options[0] = new Option("--------");
                for(i=0; i< data.length; i++){
                    municipio.options[i+1] = new Option(data[i][1], data[i][0]);
                }
            });
        });
        
        //organizacion
        $("#id_departamento").change(function () {
            var index = departamento.options.selectedIndex;
            var id = departamento.options[index].value;
            $.getJSON("ajax/organizaciones/" + id +"/",
            function(data){
                organizacion.options.length = 0;
                organizacion.options.length = 0;
                organizacion.options[0] = new Option("--------");
                for(i=0; i< data.length; i++){
                    organizacion.options[i+1] = new Option(data[i][1], data[i][0]);
                }
            });
        });
        
        //comunidad
        $("#id_municipio").change(function () {
            var index = municipio.options.selectedIndex;
            var id = municipio.options[index].value;
            $.getJSON("ajax/comunidad/" + id +"/",
            function(data){
                comunidad.options.length = 0;
                comunidad.options[0] = new Option("---------");
                for(i=0; i< data.length; i++){
                    comunidad.options[i+1] = new Option(data[i][1], data[i][0]);
                }
            });
        });
        
    });
</script>
{% endblock %}
{% block titulo %}
Filtros
{% endblock %}

{% block contenido %}
<div class="contenido">    
    <form action="." method="POST">
        {% csrf_token %}
        <div class="formulario_consulta">            
            <div class="columna_uno">
                <div class="form_label"><b>{{form.fecha.label}}</b></div>
                <div class="form_widget">{{form.fecha}}</div>
            </div>
            <div class="columna_dos">
                <div class="form_label"><b>{{form.departamento.label}}</b></div>
                <div class="form_widget">{{form.departamento}}</div>
                <div class="form_label"><b>{{form.organizacion.label}}</b></div>
                <div class="form_widget">{{form.organizacion}}</div>                
                <div class="form_label"><b>{{form.municipio.label}}</b></div>
                <div class="form_widget">{{form.municipio}}</div>
                <div class="form_label"><b>{{form.comunidad.label}}</b></div>
                <div class="form_widget">{{form.comunidad}}</div>
            </div>
            <div class="columna_tres">
                <div class="form_label"><b>{{form.cooperativa.label}}</b></div>
                <div class="form_widget"><b>{{form.cooperativa}}</b></div>
                <div class="form_label"><b>{{form.socio.label}}</b></div>
                <div class="form_widget">{{form.socio}}</div>
                <div class="form_label"><b>{{form.desde.label}}</b></div>
                <div class="form_widget">{{form.desde}}</div>
                <div class="form_label"><b>{{form.dueno.label}}</b></div>
                <div class="form_widget">{{form.dueno}}</div>
            </div>
            <div class="columna_cuatro">
                <br><br>
                <br><br>
                <br><br>                
                <input type="submit" value="Consultar" id="boton" class="filtro"/>
            </div>
            <div class="clean"></div>
        </div>        
    </form>
    {%if centinela = 1 %}
    {% include "simas/menu.html" %}        
    {%endif%}
    <div style="height: 5px;"></div>
</div>
{% endblock %}
