{% extends "base.html"%}
{%load unslugify %}
{% block titulo %}
Suelo &raquo; Subindicador Manejo del Suelo
<div class="cambiar_indicador"><a href="#" id="mas">Cambiar Indicador<span id="estado" class="estadouno"><img src="/archivos/imagen/menos.png"/></span></a> </div>
{% endblock%}
{% block extra_header %}

<style type="text/css">
    .manejosuelo{background: url(/archivos/imagen/fondosubmenuhover.png) repeat-x;}
</style>
<script type="text/javascript">

    //si activo es 0 el html interno esta vacio
    //caso si activo es otro num sustituir grafico
    //si activo es el mismo id, esconder grafico
    var activo = 0; 
    function click_callback(id){
        $.getJSON('/grafo/manejosuelo/' + id, function(data) {
            if (activo!= id){
                $("#grafo").html('<img src="' + data.url + '" />');
                activo = id;
            }else{
                $("#grafo").html('');
                activo = 0;
            }
        });
    }
    $(document).ready(function() {
        $("#grafico1").click(function(){
            $("#grafico1").addClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
        });
    
        $("#grafico2").click(function(){
            $("#grafico2").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
        });

        $("#grafico3").click(function(){
            $("#grafico3").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
        });
    });
</script>
{%endblock%}
{% block contenido %}
{% include "nav_suelo.html" %}
<div class="separador"></div>

<div id="mostrar">
    {% include "simas/menu.html" %}
</div>

<div id="sidebar">
    <div class="graficos_widget">
        <h1>Gráficos</h1>
        <a href="#" id="grafico1" onCLick="click_callback('analisis')">Realiza analisis</a>
        <a href="#" id="grafico2" onCLick="click_callback('practica')">Realiza practica</a>
    </div>
</div>

<div id="grafo"></div>

<div class="subindicador"><a class="exportar guardarXLS" href="#" onclick="exportarXLS('modalidad'); return false;"></a> {% if request.user.is_authenticated %}<a class="exportar2" href="/exportar/16/"></a>{%endif%}</div>

<div class="contenido">
<div id="modalidad">
    <table width=500>
        <caption>¿Cómo preparan sus terrenos?</caption>
        <thead>
            <tr>
                <th>Terrenos</th>
                <th>Número</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla_terreno.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.preparan|floatformat}}</td>
                <td>{{value.por_preparan|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

    <table width=500>
        <caption>¿Qué tipo de traccion utiliza para la preparación del suelo?</caption>
        <thead>
            <tr>
                <th>Tipo Tracción</th>
                <th>Número</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla_traccion.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.traccion|floatformat}}</td>
                <td>{{value.por_traccion|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

    <table width=500>
        <caption>¿Qué tipo de fertilización realiza?</caption>
        <thead>
            <tr>
                <th>Tipos de Fertilización</th>
                <th>Número</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla_fertilizacion.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.fertilizacion|floatformat}}</td>
                <td>{{value.por_fertilizacion|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

    <table width=500>
        <caption>¿Qué tipo de obra de conservación de suelo?</caption>
        <thead>
            <tr>
                <th>Tipos de obras</th>
                <th>Número</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla_obra.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.obra|floatformat}}</td>
                <td>{{value.por_obra|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
</div>
{% endblock %}
