<div id="indicadores">    
    <h2 class="titulo_indicadores">Seleccione el Indicador</h2>
    <div id="contenedor_indicadores">
        <a href="/familia" class="button">Familias</a>
        <a href="/organizacion" class="button">Organización</a>
        <a href="/tierra" class="button">Tierra</a>
        <a href="/animales"class="button">Ánimales</a>
        <a href="/cultivos"class="button">Cultivos</a>
        <a href="/opcionesmanejo"class="button">Opciones de manejo</a>
        <a href="/usosemilla"class="button">Uso de semilla</a>
        <a href="/suelo"class="button">Suelo</a>
        <a href="/ingresos" class="button">Ingresos</a>
        <a href="/equipos" class="button">Bienes</a>
        <a href="/ahorro_credito" class="button">Ahorro y crédito</a>
        <a href="/seguridad" class="button">Seguridad alimentaria</a>
        <a href="/riesgo" class="button">Riesgos</a>
    </div>
</div>
