<div id="indicadores">    
<div id="seleccionindicador">Seleccione el Indicador</div>
    <div id="contenedor_indicadores">
        <a href="/educacion" class="button">Familias</a>
        <a href="/gremial" class="button">Organización</a>
        <a href="/fincas" class="button">Tierra</a>
        <a href="/animales"class="button">Ánimales</a>
        <a href="/cultivos"class="button">Cultivos</a>
        <a href="/opcionesmanejo"class="button">Opciones de manejo</a>
        <a href="/usosemilla"class="button">Uso de semilla</a>
        <a href="/suelos"class="button">Suelo</a>
        <a href="/ingresos" class="button">Ingresos</a>
        <a href="/equipos" class="button">Bienes</a>
        <a href="/ahorro_credito" class="button">Ahorro y crédito</a>
        <a href="/seguridad" class="button">Seguridad alimentaria</a>
        <a href="/vulnerable" class="button">Riesgos</a>
    </div>
</div>
