{% extends "base.html" %}

{% block title %}Monitoreo - Organización{% endblock %}
{%block titulo%}Organización{%endblock%}
{% block contenido %}

                        <div id="contenedor_igual">
                            <a href="/gremial" class="educacion">Gremial</a>
                             <img src="/archivos/imagen/separadorsi.png" alt="description" title="description" width="1px" height="20px" />
                            <a href="/comunitario" class="educacion">Comunitaria</a>
                             <img src="/archivos/imagen/separadorsi.png" alt="description" title="description" width="1px" height="20px" />
                        </div>
                        <div class="separador"></div>
{% endblock %}
