{% extends "base.html" %}

{% block title %}Monitoreo - Riesgos{% endblock %}
{%block titulo%}Riesgos{%endblock%}
{% block contenido %}

                        <div id="contenedor_igual">
                            <a href="#" class="educacion">Vulnerabilidad de la finca</a>
                             <img src="/archivos/imagen/separadorsi.png" alt="description" title="description" width="1px" height="20px" />
                            <a href="#" class="educacion">Mitigación de riesgos</a>
                             <img src="/archivos/imagen/separadorsi.png" alt="description" title="description" width="1px" height="20px" />
                        </div>
                        <div class="separador"></div>
{% endblock %}
