{% extends "base.html" %}
{%load unslugify %}
{%block extra_header%}
<style type="text/css">
    .salud{background: url(/archivos/imagen/fondosubmenuhover.png) repeat-x;}
</style>
{% endblock %}
{% block titulo %}
Familia &raquo; Subindicador Salud
<div class="cambiar_indicador"><a href="#" id="mas">Cambiar Indicador <span id="estado" class="estadouno"><img src="/archivos/imagen/menos.png"/></span></a></div>
{%endblock%}
{% block contenido %}

{% include "nav_familia.html" %}

<div class="separador"></div>
<br>

<div id="mostrar">
     {% include "simas/menu.html" %}
</div>

<div class="subindicador"><a class="exportar guardarXLS" href="#" onclick="exportarXLS('modalidad'); return false;"></a>{% if request.user.is_authenticated %}<a class="exportar2" href="/exportar/2/"></a>{%endif%}</div>
   
<div class="contenido">
<div id="modalidad">
    <table>
    <caption>Tiene Buena Salud?</caption>
        <thead>
            <tr>
                <th></th>
                <th>Frecuencia de consulta por edad</th>
                <th>%Buena Salud</th>
                <th>%Salud Delicada</th>
                <th>%Enfermedades Crónica</th>
            </tr>
        </thead>
        <tbody>
            {% for fila in tabla_estado%}
            <tr>
                {%for celda in fila%}
                <td>{{celda}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        <tbody>
    </table>
<br></br>
    <table>
    <caption>Visita centros de salud</caption>
        <thead>
            <tr>
                <th></th>
                <th>Frecuencia de consulta por edad</th>
                <th>%Visita Centro de Salud</th>
                <th>%Visita Médico Privado</th>
                <th>%Visita Clínica</th>
                <th>Número de veces que no logra atención por año</th>
            </tr>
        </thead>
        <tbody>
            {% for fila in tabla_sitio%}
            <tr>
                {%for celda in fila%}
                <td>{{celda}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
</div>

<br></br>
{% endblock %}
