{% extends "base.html" %}
{%load unslugify %}
{% block titulo %}Subindicador Salud{%endblock%}
{% block contenido %}

<div id="contenedor_igual">
  <a href="/educacion" class="educacion">Educación</a>
  <img src="/archivos/imagen/separadorsi.png" alt="description" title="description" width="1px" height="20px" />
  <a href="/salud" class="educacion">Salud</a>
  <img src="/archivos/imagen/separadorsi.png" alt="description" title="description" width="1px" height="20px" />
  <a href="/luz"class="agua">Energia</a>
  <img src="/archivos/imagen/separadorsi.png" alt="description" title="description" width="1px" height="20px" />
  <a href="/agua"class="luz">Agua de consumo</a>
  <img src="/archivos/imagen/separadorsi.png" alt="description" title="description" width="1px" height="20px" />
</div>
<div class="separador"></div>
<br></br>


   
<div class="contenido">
    <table>
    <caption>Tiene Buena Salud?</caption>
        <thead>
            <tr>
                <th></th>
                <th>Frecuencia de consulta por edad</th>
                <th>%Buena Salud</th>
                <th>%Salud Delicada</th>
                <th>%Enfermedades Crónica</th>
            </tr>
        </thead>
        <tbody>
            {% for fila in tabla_estado%}
            <tr>
                {%for celda in fila%}
                <td>{{celda}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        <tbody>
    </table>
<br></br>
    <table>
    <caption>Visita centros de salud</caption>
        <thead>
            <tr>
                <th></th>
                <th>Frecuencia de consulta por edad</th>
                <th>%Visita Centro de Salud</th>
                <th>%Visita Médico Privado</th>
                <th>%Visita Clínica</th>
                <th>Número de veces que no logra atención por año</th>
            </tr>
        </thead>
        <tbody>
            {% for fila in tabla_sitio%}
            <tr>
                {%for celda in fila%}
                <td>{{celda}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

<br></br>
{% endblock %}
