{% extends "base.html"%}
{%load unslugify %}
{% block titulo %}
Subindicador Seguridad alimentaria
<div class="cambiar_indicador"><a href="#" id="mas">Cambiar Indicador</a> <span id="estado" class="estadouno"><img src="/archivos/imagen/menos.png"/></span></div>
{% endblock%}
{% block contenido %}

<div id="mostrar">
     {% include "simas/menu.html" %}
</div>

<div class="contenido">
    <table id="table_example" class="tablesorter" style="font-size:90%">
        <caption>La Seguridad Alimentaria</caption>
        <thead>
            <tr>
                <th>ALIMENTOS</th>
                <!--        <th>FRECUENCIA</th>-->
                <th>Producen</th>
                <th>%</th>
                <th>Compran</th>
                <th>%</th>
                <th>Consumen suficiente verano</th>
                <th>%</th>
                <th>Consumen suficiente invierno</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <!--        <td>{{value.frecuencia|floatformat}}</td>-->
                <td>{{value.producen|floatformat}}</td>
                <td>{{value.por_producen|floatformat}}</td>
                <td>{{value.compran|floatformat}}</td>
                <td>{{value.por_compran|floatformat}}</td>
                <td>{{value.consumen|floatformat}}</td>
                <td>{{value.por_consumen|floatformat}}</td>
                <td>{{value.invierno|floatformat}}</td>
                <td>{{value.por_invierno|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
<script>
    // Hacemos que nos aplique cebra a las filas de la tabla y permita ordenarla
    // ademas que ordene por defecto las filas 0,0 y 2,1
    $(document).ready(function()
    {
        //$("#table_example").tablesorter();
        //$("#table_example").tablesorter({sortList:[[0,0],[2,1]], widgets: ['zebra']});
        $("#table_example").tablesorter({sortList:[[1,0],[1,1]], widgets: ['zebra']});
    }
); 
</script>
{% endblock %}
