{% extends "base.html"%}
{%load unslugify %}
{% block titulo %}
Suelo &raquo; Subindicador Caracterización del Terrreno
<div class="cambiar_indicador"><a href="#" id="mas">Cambiar Indicador <span id="estado" class="estadouno"><img src="/archivos/imagen/menos.png"/></span></a></div>
{% endblock%}
{% block extra_header %}
<style type="text/css">
    .suelo{background: url(/archivos/imagen/fondosubmenuhover.png) repeat-x;}
</style>
{% endblock%}
{% block contenido %}
{% include "nav_suelo.html" %}
<div class="separador"></div>

<div id="mostrar">
    {% include "simas/menu.html" %}
</div>

<div class="subindicador"><a class="exportar guardarXLS" href="#" onclick="exportarXLS('modalidad'); return false;"></a>{% if request.user.is_authenticated %}<a class="exportar2" href="/exportar/15/"></a>{%endif%}</div>

<div class="contenido">
<div id="modalidad">
    <table  width=500>
        <caption>¿Cúal es el tipo de textura del suelo?</caption>
        <thead>
            <tr>
                <th>Texturas</th>
                <th>Número</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla_textura.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.textura|floatformat}}</td>
                <td>{{value.por_textura|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

    <table  width=500> 
        <caption>¿Cúal es la profundidad del suelo?</caption>
        <thead>
            <tr>
                <th>Profundidad</th>
                <th>Número</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla_profundidad.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.profundidad|floatformat}}</td>
                <td>{{value.por_profundidad|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

    <table  width=500>
        <caption>¿Cómo es la presencia de lombrice en el suelo?</caption>
        <thead>
            <tr>
                <th>Presencia de Lombrices</th>
                <th>Número</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla_lombrices.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.lombrices|floatformat}}</td>
                <td>{{value.por_lombrices|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

    <table  width=500>
        <caption>¿Cómo es la densidad de raiz en la capa productiva de suelo?</caption>
        <thead>
            <tr>
                <th>Densidad</th>
                <th>Número</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla_densidad.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.densidad|floatformat}}</td>
                <td>{{value.por_densidad|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

    <table  width=500>
        <caption>¿Cúal es la pendiente del terrreno?</caption>
        <thead>
            <tr>
                <th>Pendientes</th>
                <th>Número</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla_pendiente.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.pendiente|floatformat}}</td>
                <td>{{value.por_pendiente|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

    <table  width=500>
        <caption>¿Cómo es el drenaje del suelo?</caption>
        <thead>
            <tr>
                <th>Drenaje</th>
                <th>Número</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla_drenaje.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.drenaje|floatformat}}</td>
                <td>{{value.por_drenaje|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

    <table  width=500>
        <caption>¿Cómo es el contenido de materia orgánica?</caption>
        <thead>
            <tr>
                <th>Contenido</th>
                <th>Número</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla_materia.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.materia|floatformat}}</td>
                <td>{{value.por_materia|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
</div>
{% endblock %}
