{% extends "base.html" %}

{% block title %}Monitoreo - Suelo{% endblock %}
{%block titulo%}Suelo{%endblock%}
{% block contenido %}

                        <div id="contenedor_igual">
                            <a href="/suelos" class="educacion">Carácteristicas del terreno</a>
                             <img src="/archivos/imagen/separadorsi.png" alt="description" title="description" width="1px" height="20px" />
                            <a href="/manejosuelo" class="educacion">Manejo del suelo</a>
                             <img src="/archivos/imagen/separadorsi.png" alt="description" title="description" width="1px" height="20px" />
                        </div>
                        <div class="separador"></div>
{% endblock %}
