{% extends "base.html" %}

{% block title %}Monitoreo - Tierra{% endblock %}
{%block titulo%}Tierra{%endblock%}
{% block contenido %}

                        <div id="contenedor_igual">
                            <a href="/fincas" class="educacion">Uso de tierra</a>
                             <img src="/archivos/imagen/separadorsi.png" alt="description" title="description" width="1px" height="20px" />
                           
                            <a href="/arboles" class="educacion">Existencia de árboles y Reforestación</a>
                             <img src="/archivos/imagen/separadorsi.png" alt="description" title="description" width="1px" height="20px" />
                        </div>
                        <div class="separador"></div>
{% endblock %}
