{% extends "base.html" %}

{% block title %}Monitoreo - Tierra{% endblock %}
{%block titulo%}Tierra{%endblock%}
{% block contenido %}

                        <div id="contenedor_igual">
                            <a href="/uso_tierra" class="educacion">Uso de tierra</a>
                            <a href="/existencia" class="educacion">Existencia de árboles</a>
                            <a href="/reforestacion" class="educacion">Reforestación</a>
                        </div>
                        <div class="separador"></div>
{% endblock %}
