{% extends "base.html" %}
{%load unslugify %}
{% block titulo %}
Subindicador Vulnerable
<div class="cambiar_indicador"><a href="#" id="mas">Cambiar Indicador</a> <span id="estado" class="estadouno"><img src="/archivos/imagen/menos.png"/></span></div>
{% endblock%}

{% block contenido %}
{% include "nav_riesgos.html" %}
<div class="separador"></div>

<div id="mostrar">
     {% include "simas/menu.html" %}
</div>
<div class="contenido">
    <table>
        <caption>Vulnerabilidades de las fincas</caption>
        <thead>
            <tr>
                <th>Fenomeno</th>
                <th>Causa</th>
                <th>Frecuencia</th>
                <th>%</th>
               
            </tr>
        </thead>
        <tbody>
            {%for a in lista2%}
               
            <tr>
                <td>{{a.1|unslugify}}</td>
                <td>{{a.0|unslugify}}</td>
                <td>{{a.2|floatformat}}</td>
                <td>{{a.3|floatformat}}</td>
           
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <br></br><br></br>
</div>
    
{% endblock %}
