{% extends "base.html" %}

{%block extra_header%}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}js/jquery.multiselect.min.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}js/jquery.multiselect.filter.js" type="text/javascript"></script>
<link href="{{MEDIA_URL}}css/jquery.multiselect.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript">
    var organizacion;
    var comunidad;
    var municipio;
    $(document).ready(function(){
    
        $("#id_fecha2").multiselect({
            noneSelectedText: 'Seleccione elementos',
            selectedText: '# seleccionados',
            checkAllText: 'Todos',
            uncheckAllText: 'Quitar seleccion',
            minWidth: 200,
            beforeclose: function(event, ui){
                var selectos = $("#id_fecha2").multiselect("getChecked").map(function(){
                    return this.value;
                }).get();
                
            }
        });

        $("#id_modelo").multiselect({
            noneSelectedText: 'Seleccione elementos',
            selectedText: '# seleccionados',
            checkAllText: 'Todos',
            uncheckAllText: 'Quitar seleccion',
            minWidth: 200,
            beforeclose: function(event, ui){
                var selectos = $("#id_modelo").multiselect("getChecked").map(function(){
                    return this.value;
                }).get();
                
            }
        });
    
        $("#id_organizacion2, #id_municipio2, #id_comunidad2").html('');
        comunidad = $("#id_comunidad2").multiselect({
            noneSelectedText: 'Seleccione elementos',
            selectedText: '# seleccionados',
            checkAllText: 'Todos',
            uncheckAllText: 'Quitar seleccion',
            minWidth: 200
        });
           organizacion = $("#id_organizacion2").multiselect({
            noneSelectedText: 'Seleccione la organizacion',
            selectedText: '# seleccionados',
            checkAllText: 'Todos',
            uncheckAllText: 'Quitar seleccion',
            minWidth: 200,
            beforeclose: function(event, ui){
                var selectos = $("#id_organizacion2").multiselect("getChecked").map(function(){
                    return this.value;
                }).get();
                if(selectos.length!=0){
                    filtrarMunicipio(selectos, 2);
                }else{
                    var depas = $("#id_departamento2").multiselect("getChecked").map(function(){
                        return this.value;
                    }).get();
                    filtrarMunicipio(depas, 1);
                }
            }
        });



        $("#id_departamento2").multiselect({
            noneSelectedText: 'Seleccione elementos',
            selectedText: '# seleccionados',
            checkAllText: 'Todos',
            uncheckAllText: 'Quitar seleccion',
            minWidth: 200,
            beforeclose: function(event, ui){
                var selectos = $("#id_departamento2").multiselect("getChecked").map(function(){
                    return this.value;
                }).get();
                if(selectos.length!=0){
                    filtrarMunicipio(selectos, 1);
                    filtrarOrganizacion(selectos);
                }else{
                    organizacion.multiselect("disable");
                    municipio.multiselect("disable");
                }
            }
        });

        municipio = $("#id_municipio2").multiselect({
            noneSelectedText: 'Seleccione elementos',
            selectedText: '# seleccionados',
            checkAllText: 'Todos',
            uncheckAllText: 'Quitar seleccion',
            minWidth: 200,
            beforeclose: function(event, ui){
                var selectos = $("#id_municipio2").multiselect("getChecked").map(function(){
                    return this.value;
                }).get();
                if(selectos.length!=0){
                    $.getJSON('/ajax/comunies/?ids='+selectos.join(","), function(data){
                        $('#id_comunidad2').html('');
                        if(data){
                            $.each(data, function(i, item){
                                comunidad.append($('<option></option>').val(item.id).html(item.nombre));
                                comunidad.multiselect('refresh');
                            });
                        }
                    });
                    comunidad.multiselect("enable");
                }
                else{
                    comunidad.multiselect("disable");
                }
            }
        });
        municipio.multiselect("disable");
        organizacion.multiselect("disable");
        comunidad.multiselect("disable");
    });
    function filtrarMunicipio(selectos, opcion){
        if (opcion == 1){
            var url = '/ajax/munis/?ids='+selectos.join(",");
        }else{
            var url = '/ajax/munis/?org_ids='+selectos.join(",");
        }
        $.getJSON(url, function(data){
            $('#id_municipio2').html('');
            if(data){
                $.each(data, function(i, item){
                    $.each(item, function(j, item2){
                        var group = $('<optgroup></optgroup>').attr('label', j);
                        $.each(item2, function(k, item3){
                            group.append($('<option></option>').val(item3.id).html(item3.nombre));
                        });
                        group.appendTo(municipio);
                    });
                    municipio.multiselect('refresh');
                    municipio.multiselect('enable');
                });
            }
        });
    }

    function filtrarOrganizacion(selectos){
        $.getJSON('/ajax/organi/?ids='+selectos.join(","), function(data){
            $("#id_organizacion2").html('');
            if(data){
                $.each(data, function(i, item){
                    $('<option></option>').val(item.id).html(item.nombre).appendTo(organizacion)
                });
                organizacion.multiselect('refresh');
                organizacion.multiselect("enable");
            }
        });
    }
</script>
{% endblock %}
{% block contenido %}
<div class="contenido">   
    <form action="." method="POST">
        {% csrf_token %}
        <div class="formulario_consulta">            
            <div class="columna_uno">
                <div class="form_label"><b>{{form2.fecha2.label}}</b></div>
                <div class="form_widget">{{form2.fecha2}}</div>
            </div>
            <div class="columna_dos">
                <div class="form_label"><b>{{form2.departamento2.label}}</b></div>
                <div class="form_widget">{{form2.departamento2}}</div>
                <div class="form_label"><b>{{form2.organizacion2.label}}</b></div>
                <div class="form_widget">{{form2.organizacion2}}</div>                
                <div class="form_label"><b>{{form2.municipio2.label}}</b></div>
                <div class="form_widget">{{form2.municipio2}}</div>
                <div class="form_label"><b>{{form2.comunidad2.label}}</b></div>
                <div class="form_widget">{{form2.comunidad2}}</div>
            </div>
            <div class="columna_tres">
                <div class="form_label"><b>{{form2.dueno2.label}}</b></div>
                <div class="form_widget">{{form2.dueno2}}</div>
                <div class="form_label"><b>{{form2.modelo.label}}</b></div>
                <div class="form_widget">{{form2.modelo}}</div>
            </div>
            <div class="columna_cuatro">
                <br><br>
                <br><br>
                <br><br>                
                <input type="submit" value="Consultar" id="boton" class="filtro"/>
            </div>
            <div class="clean"></div>
            <br>
        </div>        
    </form>
    {%if centinela = 1 %}
        {% include "simas/download.html" %}        
    {%endif%}
    <div style="height: 5px;"></div>
</div>
{% endblock %}