{% extends "base.html" %}

{% block extra_header %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/markerclusterer.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/infobox.js"></script>
<script type="text/javascript">
    var map;
    var markers = [];
    $(document).ready(function () {     
        var infowindow = new google.maps.InfoWindow();
        var myLatlng = new google.maps.LatLng(13,-85);
        var myOptions = {
            zoom: 7,
            mapTypeControl: true,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.TERRAIN
        }
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        var image = new google.maps.MarkerImage('/files/images/custom_marker.png',
        new google.maps.Size(15, 32),
        new google.maps.Point(0,0),
        new google.maps.Point(0, 32));
            $.getJSON('/mapa/', function(data){
                $.each(data, function(i, elemento){
                    var latlng = new google.maps.LatLng(elemento.lat, elemento.lon);
                    var marker = new google.maps.Marker({
                        position: latlng,
                        map: map,
                        title: elemento.nombre,
                        icon: image,                        
                        item: '',
                        id: elemento.id                        
                    });                    
                    markers.push(marker);                    
                });
                var markerCluster = new MarkerClusterer(map, markers);
            });
                
    });
</script>
<style type="text/css">
    #user2{display: none;}
</style>
{% endblock %}

{% block filtros %} {% endblock %}

{% block index %}
<div class="actualmente">
    <div class="datos">
        <div class="title">Actualmente</div>
        <br>
        <div class="cuerpo">
            <img src="/archivos/imagen/familias.png" class="familias" alt="Familias">
            <span class="cant">{{familias}}</span><br>
            <span>familias</span>
        </div>
        <div class="cuerpo">
            <img src="/archivos/imagen/organizaciones.png" class="organizaciones" alt="Familias">
            <br>
            <span class="cant">{{organizacion}}</span>
            <span>Organizaciones</span>
        </div>
        <div class="cuerpo">
            <span class="personas">{{mujeres}}</span>
            <img src="/archivos/imagen/mujeres.png" alt="Mujeres" class="personas">
            <span class="personas">{{hombres}}</span>
            <img src="/archivos/imagen/hombres.png" alt="Hombres" class="personas">
        </div>
        <br>
        <a href="#" class="explorar"></a>
        <div class="clean"></div>
    </div>
</div>
<div class="mapa">
    <div id="map_canvas"></div>
</div>
<div class="acerca">
    <div class="title">Acerca de</div>
    <div class="cuerpo">
        Etiam nisi nunc sociis scelerisque ac duis magnis aenean. Natoque, a scelerisque nec porta mus rhoncus adipiscing magnis quis elit nisi porta aliquam integer, dapibus tortor cursus, ut et et. Est et, phasellus parturient? Et parturient nunc lundium proin egestas amet sed duis ut ultricies aliquam proin porta odio a eros montes mauris velit cursus eros porttitor urna magna magna! Ut porta sagittis, porttitor turpis amet? Scelerisque ridiculus egestas facilisis aliquet phasellus!
        <br><br>Mus adipiscing placerat, cum turpis magna! Eu odio? Mauris tincidunt sagittis pulvinar ac vut platea dignissim. Magnis elementum, adipiscing cum! Ac tortor duis dictumst? Magna sit aliquet cum! Nunc pellentesque.
        <a href="#">Continuar leyendo <img src="/archivos/imagen/seguir.png" class="seguir" alt="seguir"></a>
    </div>    
</div>
<div class="clean"></div>
{% endblock %}
