<div id="contenedor_igual">
    <a href="/educacion" class="educacion">Educación</a>
    <img src="/archivos/imagen/separadorsi.png" alt="" title="" class="separador_vert2">
    <a href="/salud" class="educacion">Salud</a>
    <img src="/archivos/imagen/separadorsi.png" alt="" title="" class="separador_vert2">
    <a href="/luz"class="agua">Energia</a>
    <img src="/archivos/imagen/separadorsi.png" alt="" title="" class="separador_vert2">
    <a href="/agua"class="luz">Agua de consumo</a>
    <img src="/archivos/imagen/separadorsi.png" alt="" title="" class="separador_vert2">
</div>
