body{
    padding:0;
    margin: 0;
    background: #d3d7cf;
    font-family: 'Trebuchet MS', Trebuchet, sans-serif;
    font-size: 12px;    
}
#header{
    background: url(/archivos/imagen/fondo_encabezado.png) repeat-x top;
    height: 108px;
}
#user1{
    background: #384e66;
    border-top: 1px #707070 solid;
    min-height: 41px;
}
#user2{
    background: #e8e8e8;
}

#footer{
    background: #d3d7cf;
    height: 120px;
    border-top: 1px #707070 solid;
}
.wrapper {
    width: 960px;
    margin: 0 auto;        
}
.wrapper1{
    width: 940px;
    margin: 0 auto;
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
}
.clean{
    clear: both;
}
img{
    border: none;
}
a{
    text-decoration: none;
    outline: none;
}
a:hover{
    text-decoration: underline;
}
.top{
    height: 38px;
}
.tools{
    margin-left: 15px;
}

.top .titulo{
    font-size: 22px;
    color: #98a34e;
    margin-left: 15px;
    line-height: 38px;
    float: left;
}
.top .entrar_link{
    float: right;
    font-size: 12px;
    line-height: 26px;
    color: #888a85;
    margin-right: 10px;
}
.top .entrar_link a{
    color: #888a85;
}
.tools .subtitulo{
    font-size: 16px;
    color: #d0d0cb;
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
}
.tools .nav{
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}
.tools .nav a{
    display: block;
    float: left;
    text-indent:-9999px;
}
.tools .nav a.init{
    background: url(/archivos/imagen/sprite_menu.png) no-repeat;
    width: 82px;
    height: 30px;    
}
.tools .nav a.init:hover{
    background-position: 0 -30px;    
}
.tools .nav a.query{
    background: url(/archivos/imagen/sprite_menu.png) no-repeat;
    background-position: -82px 0;
    width: 120px;
    height: 30px;
}
.tools .nav a.query:hover{
    background-position: -82px -30px;
}
.tools .nav a.about{
    background: url(/archivos/imagen/sprite_menu.png) no-repeat;
    background-position: -202px 0;
    width: 90px;
    height: 30px;
}
.tools .nav a.about:hover{
    background-position: -202px -30px;
}

.actualmente{
    float: left;
    width: 220px;       
}
.actualmente .datos{
    background: url(/archivos/imagen/fondo_actualmente.png) no-repeat;
    height: 330px;
    margin-top: 8px;    
    margin-bottom: 10px;    
}
.actualmente .datos .title{    
    line-height: 35px;
    font-size: 20px;
    color: #99a2ac;
    text-shadow: 1px 2px #000;
    padding-left: 12px;
}
.actualmente .datos .cuerpo{
    padding-left: 12px;
    padding-bottom: 6px;
    border-bottom: 1px #384e66 solid;
}
.actualmente .datos img.familias{
    float: right;
    margin-right: 10px;
    margin-top: 20px;
}
.actualmente .datos img.organizaciones{
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}
.actualmente .datos img.personas{
    margin-left: 5px;
    margin-top: 10px;
}
.actualmente .datos span{
    font-size: 12px;
    color: #fff;
}
.actualmente .datos span.cant{
    font-size: 35px;
    color: #fff845;
}
.actualmente .datos span.personas{
    font-size: 28px;
    color: #fff845;
}
.explorar{
    background: url(/archivos/imagen/explorar.png) no-repeat;
    display: block;
    height: 48px;
    width: 248px;
    margin-left: 5px;
}
.explorar:hover{
    background-position: 0 -49px;
}
.acerca{
    padding-bottom: 10px;
    float: left;
    width: 220px;
    height: 330px;
}
.acerca .title{
    line-height: 35px;
    font-size: 20px;
    color: #99a2ac;
    text-shadow: 1px 2px #000;
    margin-left: 5px;
    margin-top: 10px;
}
.acerca .cuerpo{
    font-size: 11px;
    color: #fff;
    margin-left: 5px;
}
.acerca .cuerpo a{
    font-size: 11px;
    color: #adff2f;
}
.acerca .cuerpo a:hover{
    text-decoration: none;
    color: #fff;
}
.acerca .cuerpo .seguir{
    margin-top: 8px;
    margin-bottom: -5px;
}
.mapa{
    float: left;
    background: url(/archivos/imagen/fondo_mapa.png) repeat-y;
    width: 508px;    
}
.mapa #map_canvas { 
    height: 360px;
    width: 449px;
    margin: 0 auto;
}

#footer .organizaciones{
    margin-left: 30px;
    padding-top: 20px;
    float: left;
}
#footer .organizaciones .title{
    font-size: 16px;
    line-height: 25px;
    color: #000;    
}
#footer .organizaciones .zonas{
    font-size: 15px;
    color: #384e66;
    line-height: 25px;
}
#footer .made{
    background: url(/archivos/imagen/fondo_desarrollado.png) no-repeat;
    width: 224px;
    height: 64px;
    float: right;
    margin-top: 20px;
    margin-right: 30px;
}
#footer .made .developed{
    margin-top: 15px;
    margin-left: 80px;
    color: #2d2d2d;
}
#footer .made .developed a{
    color: #2d2d2d;
    font-weight: bold;
}
.contenido{
    padding-bottom: 1px;
    padding-top: 1px;
}
caption {
    padding: 5px;
    margin:0 auto;
    width:auto;
    margin-top:15px;
    margin-bottom:5px;
    text-align: left;
    font-size:18px;
    color:#48311a;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-top:#3d3123 1px dotted;
    border-bottom:#3d3123 1px dotted;
}

th{
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 10px;
    color: #473f31;
    border-right: 1px solid #ded3ba;
    border-bottom: 1px solid #ded3ba;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    font-weight:bold;
    padding: 10px 5px 4px 12px;
    background:url(/archivos/imagen/bg_header.png) repeat-x;
    vertical-align:middle;

}
td.total{
    border-top: 0;
    border-left: 0;
    border-right: 1px solid #C1DAD7;
    background: none;
    text-align:right;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing:1px;
}
td {
    font: normal 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    border-right: 1px solid #E0DDD2;
    border-bottom: 1px solid #E0DDD2;
    padding: 6px 12px 6px 12px;
    color: #696969;
    background: #FFFFFF;
}
form {
    margin: 0 0;
    padding-top: 5px;    
}

pre { font-size: 130%; background: #f7f7f7; padding: 10px 10px; font-weight: bold; }
.odd, .r1 { background: #fff; }
.even, .r2 { background: #f7f7f7; }
.r3 { background: #ebebeb; }
.search { font-weight:  bold; }

/*fin del form de las tablas*/

/* COMIEZA CSS FILTROS DEL FORMULARIO */
#id_cooperativa, #id_fecha, #id_departamento, #id_municipio,
#id_comunidad, #id_socio, #id_sexo, #id_dueno,#id_desde,#id_organizacion {
    width:200px;
    height:30px;
    background: #fff;
    border: 5px #f5f5f5 solid;
    margin-bottom:8px;
    font-size:12px;
    color:#000;
}
/* CSS DE LOS INDICADORES */
#indicadores{
    margin-top: -10px;
}
#indicadores h2{    
    color: #665845;
    padding: 10px 11px 12px 24px;
    background: #F3EFC4 url(/archivos/imagen/seleccionBarra.png) no-repeat left;
}
/* BOTONES DE LOS INDICADORES */

.button, .button:visited {
    background: #222 url(../imagen/button.png) repeat-x;
    display: inline-block;
    padding: 13px 28px 11px;
    color: #000;
    text-decoration: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor:pointer
}

.button, .button:visited,.medium.button, .medium.button:visited {
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

/* FIN BOTONES DE LOS INDICADORES */

/* CONTENEDOR DE LOS FILTROS COMO DEL MENU PRINCIPAL DE LOS INDICADORES */

#contenedor_indicadores {
    width: 930px;
    margin: 0 auto;
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 20px;
}
#contenedor_indicadores a {
    align: center;
    margin-bottom: 14px;
    margin-right: 2px;
}
#titulo{
    padding: 10px 11px 12px 24px;
    background: #F3EFC4 url(/archivos/imagen/seleccionBarra.png) no-repeat left;
    font-size:22px;
    font-weight:bold;        
    height:20px;
    color:#665845;
    text-shadow: 0px -1px 1px #fff;
}
.formulario_consulta{
    padding-left: 10px;
    background-color: #d3d3d3;
}
input[type='submit']{
    background: url(/archivos/imagen/boton.png) repeat-x;
    height: 41px;
    border: none;
    border-top-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    box-shadow: 2px 3px 4px #888;
    -moz-box-shadow: 2px 3px 4px #888;
    -webkit-box-shadow: 2px 3px 4px #888;
    text-shadow: 0px 2px 2px #000;
    font-size: 19px;
    color: #fff;
    outline: none;
}
input[type='submit']:hover{
    color: #283849;
    text-shadow: 0px 2px 2px #fff;
}
.columna_uno, .columna_dos, .columna_tres, .columna_cuatro{
    float: left;
    margin-right: 25px;
}
.form_label b{
    font-size: 15px;
    color: #000;
}
#contenedor_igual {
    padding: 0px 11px 0px 24px;
    background: #d8d39e url(/archivos/imagen/seleccionBarra.png) no-repeat left;
    font-size:16px;
    font-weight:bold;        
    height:34px;
    line-height: 34px;
    color:#000;
    text-shadow: 0px -1px 1px #fff;
}
#contenedor_igual a{
    text-decoration: none;
    font-size:16px;
    font-weight:bold;
    color:#000;
    text-shadow: 0px -1px 1px #fff;
    float: left;
    display: block;
}
#contenedor_igual a:hover {        
    color:#fff;
    text-shadow: 0px -1px 1px #000;
}
.separador_vert2{
    float: left;    
    margin-left: 5px;
    margin-right: 5px;
}
.graficos_widget{
    width:240px;
    background: #dadada;
    border-top-right-radius:7px;
    border-top-left-radius:7px;
    -moz-border-radius-topright:7px;
    -moz-border-radius-topleft:7px;
    -webkit-border-top-left-radius:7px;
    -webkit-border-top-right-radius:7px;
    border:#ebebe4 1px solid;
    margin-bottom:10px;
    float:right;
}

.graficos_widget h1{
    border-top-right-radius:7px;
    border-top-left-radius:7px;
    -moz-border-radius-topright:7px;
    -moz-border-radius-topleft:7px;
    -webkit-border-top-left-radius:7px;
    -webkit-border-top-right-radius:7px;
    background:#c9c7b6 url(../imagen/fondo_widget_titulo.png);
    color:#6c6c6c;
    font-size:16px;
    margin:0px;
    padding:5px 10px 5px 10px;
}

.graficos_widget a{
    float:left;
    display:block;
    width:215px;
    height:20px;
    background:#fff url(../imagen/fondo_widget_grafico.png);
    border-bottom:#e1dccb 1px solid;
    text-decoration:none;
    color:#8B8989;
    font-size:13px;
    padding-top:7px;
    padding-left:25px;
}

/*Esta es la parte de las variables filtradas y mostradas al usuario que consulta*/

#filtros{
    height: 41px;
    width:962px;
}

.cambiar_consulta{
    float:left;
    display: block;
    text-indent: -9999px;
    background: url(/archivos/imagen/filtro_sprite.png) no-repeat;
    width: 130px;
    height: 37px;
    margin-right: 10px;
    margin-top: 2px;
}
.cambiar_consulta:hover{
    background-position: 0px -37px;
}
.separador_vert{
    float: left;
    margin-right: 5px;
    margin-left: 5px;
}
.variables_filtro{
    float:left;
    font-size:12px;
    margin-top:4px;
    margin-right:5px;
    padding-right:10px;    
    color: #fff;
    text-align: center;
}
.variables_filtro b{
    margin: 0;
    padding: 0;
    background: #28384a;
    padding: 2px 3px;
    border-radius:4px;    
    -moz-border-radius:4px;    
    -webkit-border-radius:4px;    
    display: block;
}
#mostrar{
    display: none;
}
.filtros_seleccionados_text{
    color: #eee8aa;
    float: left;
    height: 100%;
    padding-top: 5px;
    margin-right: 10px;
    font-weight: bold;
}
.cambiar_indicador{
    float: right;
    margin: -11px 0 0 0;
    padding: -2px 0 0 0;
}
.cambiar_indicador a{
    color: #665845;
    
}

